/*------------------------------------
      Editor
------------------------------------*/

.list-item {
  margin: 10px auto;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #858585;
  width: 98%;
  position: relative;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  cursor: grab;
  border-radius: 8px;
}

.list,
.list-item {
  position: relative;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  align-items: start !important;
}

.trash-icon {
  width: 42px;
  height: 42px;
  padding: 10px 12px 2px 2px;
}

.grip-vertical-icon {
  width: 42px;
  height: 42px;
  padding: 10px 6px 2px 4px;
}

.plus-circle-fill {
  width: 55px;
  height: 55px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.accordion-button {
  background-color: transparent !important;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #212529;
}

.accordion-body {
  padding-left: 6% !important;
  padding-right: 6% !important;
}

.accordion-collapse {
  margin-left: -10% !important;
  margin-right: -10% !important;
  cursor: default;
}
